                <div class="form-group">
                    <label class="col-sm-2 control-label" for="inputName">カテゴリ名</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" id="inputName" name="name" placeholder="">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="inputEmail">説明</label>
                    <div class="col-sm-5">
                        <input type="email" class="form-control" id="inputDescription" name="description" placeholder="" >
                    </div>
                </div>