                <div class="form-group">
                    <label class="col-sm-2 control-label" for="inputName">ニックネーム</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" id="inputName" name="name" placeholder="名前を入れてください">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="inputEmail">Eメール</label>
                    <div class="col-sm-5">
                        <input type="email" class="form-control" id="inputEmail" name="mailAddress" placeholder="Eメール" >
                    </div>
                </div>
                <div class="form-group">
                
                    <label class="col-sm-2 control-label" for="inputPassword">パスワード</label>
                    <div class="col-sm-5">
                        <a href="#" rel="tooltip" data-toggle="tooltip" data-placement="left" title="8文字以上の英数混在で入力してください">
                        <input type="password" class="form-control" id="inputPassword" name="password" placeholder="パスワード">
                        </a>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="inputPassword">確認用</label>
                    <div class="col-sm-5">
                        <a href="#" rel="tooltip" data-toggle="tooltip" data-placement="bottom" title="もう一度パスワードを入力してください">
                        <input type="password" class="form-control" id="inputPasswordConfirm" name="passwordConfirm" placeholder="パスワード">
                        </a>
                    </div>
                </div>
